body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #02254e 0%, rgba(4,56,126,1) 19.7%, #55f5dd 100.2% );    height: 100vh;
    /* overflow: hidden; */
    color: azure;
    font-family: "titulo1";
}
h1, h2, h3, h4{
    font-family: "regular";
}
header{
    height: 12rem;
    display: flex;
    position: fixed;
    top:0;
    background-image: linear-gradient( 90deg, #55f5dd 9.7%, #002661 100.2%);}
.title-1{
    margin: 0 0 0 0;
}
.container-nav{
    display: flex;
    flex-wrap: wrap;
}
.link-nav{
    background-color: #fff;
    padding: 1rem;
    width: 10rem;
    height: 1.5rem;
    margin: 1rem 1rem 0 0;
    border: solid 3px #E3371E;
    border-radius: .8rem;
    display: grid;
    place-content: center;
    text-decoration: none;
    color: #0593A2;
}
.uno{
    margin-top: 14rem;
}

@font-face {
    font-family: "titulo1";
    src: url("../fonts/Garet-Book.ttf");
}
@font-face {
    font-family: "regular";
    src: url("../fonts/PIGARNOS\ NEUE\ Regular.ttf");
}
.spooky-house {
    position: relative;
  }
  
  .content-circle {
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
    background-color: #212f3c;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  
  .content-circle:before {
    content: "";
    position: absolute;
    width: 450px;
    height: 200px;
    top: 300px;
    border-radius: 50% 50% 0 0;
    background-color: #000;
  }
  
  .house {
    position: absolute;
    width: 120px;
    height: 150px;
    background-color: black;
    left: 180px;
    top: 160px;
    transform: rotate(5deg);
    z-index: 2;
  }
  
  .house:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 30px solid black;
    border-right: 50px solid transparent;
    left: 115px;
    top: 70px;
    transform: rotate(5deg);
  }
  
  .house:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 65px;
    background-color: black;
    left: 145px;
    top: 95px;
  }
  
  .porch {
    position: absolute;
    width: 30px;
    height: 100px;
    background-color: black;
    left: -20px;
    top: 55px;
    transform: rotate(-10deg);
  }
  .porch:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid black;
    border-left: 40px solid transparent;
    left: -35px;
    top: 45px;
  }
  
  .porch:after {
    content: "";
    position: absolute;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid black;
    left: -5px;
    top: -25px;
  }
  
  .first-floor {
    position: absolute;
    transform: rotate(-10deg);
    background-color: black;
    width: 5px;
    height: 45px;
    left: -37px;
    top: 125px;
  }
  
  .first-floor:before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 85px;
    height: 90px;
    top: -150px;
    left: 50px;
  }
  
  .first-floor:after {
    content: "";
    position: absolute;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-bottom: 50px solid black;
    top: -199px;
    left: 40px;
  }
  
  .second-floor {
    position: absolute;
    background-color: black;
    width: 35px;
    height: 100px;
    transform: rotate(3deg);
    top: -70px;
    left: 70px;
  }
  
  .second-floor:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 20px;
    height: 100px;
    left: 33px;
    top: 40px;
    transform: rotate(-3deg);
  }
  
  .second-floor:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid black;
    top: 12px;
    left: 15px;
  }
  
  .roof {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid black;
    left: 65px;
    top: -95px;
  }
  
  .roof:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 20px;
    background-color: black;
    top: 5px;
    left: 10px;
    box-shadow: 20px 35px black;
  }
  
  .roof:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 20px;
    background-color: black;
    transform: rotate(-10deg);
    left: -110px;
    top: 35px;
    box-shadow: -27px 97px black;
  }
  
  .door {
    position: absolute;
    background-color: #ffd166;
    width: 30px;
    height: 50px;
    transform: rotate(-5deg);
    border-radius: 30px 30px 0 0;
    box-shadow: inset -10px 5px rgba(0, 0, 0, 0.5);
    top: 90px;
    left: 40px;
  }
  
  .door:before {
    content: "";
    position: absolute;
    background-color: #ffd166;
    border-radius: 30px 30px 0 0;
    box-shadow: inset -5px 2px rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 30px;
    left: -40px;
    transform: rotate(-3deg);
  }
  
  .door:after {
    content: "";
    position: absolute;
    background-color: #ffd166;
    box-shadow: inset -5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 30px 30px 0 0;
    width: 20px;
    height: 30px;
    left: 45px;
    transform: rotate(3deg);
  }
  
  .small-windows {
    position: absolute;
    background-color: #ffd166;
    border-radius: 30px 30px 0 0;
    width: 13px;
    height: 25px;
    left: 100px;
    top: -20px;
    box-shadow: -19px -40px #ffd166, inset -4px 2px rgba(0, 0, 0, 0.5);
  }
  
  .small-windows:before {
    content: "";
    position: absolute;
    background-color: #ffd166;
    border-radius: 30px 30px 0 0;
    width: 13px;
    height: 25px;
    transform: rotate(-7deg);
    left: -60px;
    top: 50px;
    box-shadow: -60px 20px #ffd166;
  }
  
  .big-window {
    position: absolute;
    background-color: #ffd166;
    border-radius: 30px 30px 0 0;
    transform: rotate(-7deg);
    width: 30px;
    height: 40px;
    top: -35px;
    left: 10px;
  }
  
  .big-window:before,
  .big-window:after {
    content: "";
    position: absolute;
    background-color: black;
  }
  
  .big-window:before {
    height: 40px;
    width: 2px;
    left: 15px;
    box-shadow: 13px 55px black, -47px 80px black, -32px 120px black;
  }
  
  .big-window:after {
    height: 2px;
    width: 40px;
    top: 22px;
    box-shadow: 10px 58px black, -45px 78px black, -30px 120px black;
  }
  
  .frames {
    position: absolute;
    width: 2px;
    height: 40px;
    background-color: black;
    top: -65px;
    left: 86.5px;
    box-shadow: 19px 40px black, 7px 150px black;
  }
  
  .frames:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: black;
    top: 17px;
    left: -10px;
    box-shadow: 10px 40px black, 5px 150px black;
  }
  
  .moon {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #95a5a6;
    z-index: 1;
    left: 80px;
    top: 40px;
    box-shadow: inset 7px -7px 0 rgba(0, 0, 0, 0.09);
  }
  
  .moon:before,
  .moon:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: inset -5px 5px 0 rgba(0, 0, 0, 0.09);
  }
  .moon:before {
    width: 30px;
    height: 30px;
    top: 50px;
    left: 45px;
  }
  
  .moon:after {
    width: 40px;
    height: 40px;
    top: 100px;
    left: 30px;
  }
  
  .rain {
    position: absolute;
    z-index: 5;
  }
  
  .rain:before {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    background: #fff;
    opacity: 0;
    animation: lighting 3s linear infinite;
  }
  
  .dropOne,
  .dropTwo,
  .dropThree,
  .dropFour,
  .dropFive {
    position: absolute;
    background-color: rgba(211, 211, 211, 0.3);
    height: 10px;
    width: 1px;
    top: 0;
    box-shadow: 0 -270px rgba(211, 211, 211, 0.3),
      -50px -50px rgba(211, 211, 211, 0.3), -50px -150px rgba(211, 211, 211, 0.3),
      50px -395px rgba(211, 211, 211, 0.3), 50px -200px rgba(211, 211, 211, 0.3),
      50px -100px rgba(211, 211, 211, 0.3), 100px -400px rgba(211, 211, 211, 0.3),
      100px -320px rgba(211, 211, 211, 0.3), 100px -150px rgba(211, 211, 211, 0.3),
      150px -200px rgba(211, 211, 211, 0.3), 200px -100px rgba(211, 211, 211, 0.3),
      200px -370px rgba(211, 211, 211, 0.3), 250px -330px rgba(211, 211, 211, 0.3),
      250px -220px rgba(211, 211, 211, 0.3), 300px -70px rgba(211, 211, 211, 0.3),
      300px -140px rgba(211, 211, 211, 0.3), 300px -300px rgba(211, 211, 211, 0.3);
  }
  
  .dropOne {
    animation: rain 1.5s linear infinite;
    left: 100px;
  }
  
  .dropTwo {
    left: -50px;
    animation: rain 1.2s linear infinite;
  }
  
  .dropThree {
    left: 50px;
    animation: rain 1.7s linear infinite;
  }
  
  .dropFour {
    left: 150px;
    animation: rain 1.4s linear infinite;
  }
  
  .dropFive {
    left: 80px;
    animation: rain 1.3s linear infinite;
  }
  
  @keyframes rain {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(1000px);
    }
  }
  
  @keyframes lighting {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    11% {
      opacity: 1;
    }
    14% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    21% {
      opacity: 1;
    }
    24% {
      opacity: 0;
    }
    104% {
      opacity: 0;
    }
  }















  ::-moz-selection {
  background: #2D3363;
  color: #FAEECF
}

::selection {
  background: #2D3363;
  color: #FAEECF
}

.text {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: black;
  font-family: Arial,sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 99
}

a {
  color: #6172BA;
  text-decoration: none;
  cursor: pointer
}

a:hover {
  text-decoration: underline
}

.vader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}

.vader .head {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: -10px;
  z-index: 1
}

.vader .helmet {
  position: absolute;
  top: 0;
  left: 5px;
  width: 90px;
  height: 80px;
  background: #222222;
  border-radius: 80px 80px 0 0
}

.vader .helmet::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 8px;
  margin-left: -25px;
  background: #040507;
  border-radius: 25px 25px 0 0 / 8px 8px 0 0
}

.vader .helmet::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -25px;
  height: 0;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 24px solid #040507
}

.vader .helmet span {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 55px;
  background: #040507
}

.vader .helmet .left {
  left: -6px;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg)
}

.vader .helmet .right {
  right: -6px;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg)
}

.vader .helmet span::before {
  content: '';
  position: absolute;
  top: -5px;
  width: 8px;
  height: 55px;
  background: #222222
}

.vader .helmet .left::before {
  left: 0
}

.vader .helmet .right::before {
  right: 0
}

.vader .line {
  position: absolute;
  top: -3px;
  left: 50%;
  width: 6px;
  height: 38px;
  margin-left: -3px;
  background: #343434
}

.vader .line::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 4px;
  height: 12px;
  background: #040507
}

.vader .line::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -4px;
  bottom: 0;
  width: 4px;
  height: 12px;
  background: #040507
}

.vader .mask {
  position: absolute;
  bottom: 19px;
  left: 50%
}

.vader .mask span {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  border-radius: 1px;
  background: #C6C6C6
}

.vader .mask .top {
  left: 50%;
  margin-top: -16px;
  margin-left: -2px
}

.vader .mask .top::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -7px;
  top: -2px;
  width: 4px;
  height: 24px;
  background: #040507;
  border-radius: 4px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}

.vader .mask .top::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -7px;
  top: -2px;
  width: 4px;
  height: 24px;
  background: #040507;
  border-radius: 4px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg)
}

.vader .mask .left {
  left: 12px
}

.vader .mask .center {
  left: 50%;
  margin-top: -16px;
  margin-left: -2px
}

.vader .mask .right {
  right: 12px
}

.vader .grill {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 20px;
  margin-left: -10px
}

.vader .grill span {
  position: absolute;
  bottom: -5px;
  width: 2px;
  margin-left: -1px;
  background: #C6C6C6
}

.vader .grill .left {
  left: 4px;
  height: 10px
}

.vader .grill .center {
  left: 50%;
  height: 17px
}

.vader .grill .right {
  right: 2px;
  height: 10px
}

.vader .eyes {
  position: absolute;
  top: 35px;
  left: 10px;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background: #343434
}

.vader .eyes::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 33px;
  left: 5px;
  height: 0;
  width: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid #343434
}

.vader .eyes span {
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #010000;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out
}

.vader .eyes .left {
  left: 7px
}

.vader .eyes .right {
  right: 7px
}

.vader .torso {
  position: relative;
  width: 60px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  margin: 0 auto;
  background: #222222
}

.vader .torso::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -15px;
  width: 100px;
  height: 115px;
  border-radius: 50px 50px 0 0;
  margin: 0 auto;
  background: #040507;
  z-index: -1
}

.vader .belt {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: #040507
}

.vader .belt span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 10px;
  border-radius: 10px;
  margin-left: -10px;
  background: #C6C6C6
}

.vader .neck {
  position: absolute;
  left: 6px;
  top: 3px;
  width: 48px;
  height: 8px;
  background: #010000;
  z-index: 5
}

.vader .neck::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 8px;
  width: 32px;
  height: 10px;
  background: #222222;
  border-radius: 0 0 4px 4px
}

.vader .neck::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 8px;
  width: 32px;
  height: 1px;
  background: #666666
}

.vader .neck span {
  position: absolute;
  top: 0;
  width: 6px;
  height: 125%;
  margin-left: -3px;
  background: #434343
}

.vader .neck .left {
  left: 6px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  border-radius: 5px 0 0 0
}

.vader .neck .center {
  left: 50%;
  top: 2px
}

.vader .neck .right {
  right: 3px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  border-radius: 0 5px 0 0
}

.vader .neck .bottom {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 46px;
  height: 5px;
  background: #222222
}

.vader .plate {
  position: absolute;
  left: 15px;
  top: 25px;
  width: 30px;
  height: 32px;
  background: #343434
}

.vader .plate .red_top {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 18px;
  background: #d81f27
}

.vader .plate .red_top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0,0,0,0.2)
}

.vader .plate .red_top::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #343434
}

.vader .plate .red_center {
  position: absolute;
  right: 2px;
  top: 12px;
  width: 12px;
  height: 8px;
  background: #d81f27
}

.vader .plate .red_center::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 4px;
  background: rgba(0,0,0,0.2)
}

.vader .plate .red_center::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #343434
}

.vader .plate .red_bottom {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 4px;
  height: 8px;
  background: #d81f27
}

.vader .plate .blue {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 12px;
  height: 8px;
  background: #455caa
}

.vader .plate .blue::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #343434
}

.vader .plate .gray {
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: 20px;
  height: 8px;
  background: #9f9fa1
}

.vader .plate .gray::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #343434
}

.vader .plate .gray::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: rgba(0,0,0,0.2)
}

.vader .legs {
  position: relative;
  width: 50px;
  height: 20px;
  margin: 0 auto;
  background: #222222
}

.vader .legs::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 100%;
  margin-left: -10px;
  background: #040507
}

.vader .boots {
  position: absolute;
  bottom: 0;
  left: 50%
}

.vader .boots span {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 30px;
  height: 10px;
  background: #040507
}

.vader .boots .left {
  left: 10px;
  border-radius: 0 15px 0 0
}

.vader .boots .right {
  right: 10px;
  border-radius: 15px 0 0 0
}

.vader .hand {
  position: absolute;
  top: 60%;
  z-index: 2
}

.vader .hand.left {
  left: -2px;
  top: 82%
}

.vader .hand.right {
  right: -20px
}

.vader .hand .hand {
  position: absolute;
  top: 0;
  width: 11px;
  height: 22px;
  margin-top: -12px;
  margin-left: -12px;
  background: #040507
}

.vader .hand.left .hand {
  left: 0;
  border-radius: 22px 0 0 22px
}

.vader .hand.right .hand {
  right: 0;
  width: 22px;
  border-radius: 22px
}

.vader .sword {
  position: absolute;
  top: 50%;
  left: -20px;
  z-index: 10
}

.vader .sword .handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 30px;
  margin-left: -3px;
  background: #343434
}

.vader .sword .handle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 5px;
  background: #888888
}

.vader .sword .handle::after {
  content: '';
  position: absolute;
  right: 4px;
  top: 5px;
  width: 4px;
  height: 5px;
  background: #343434
}

.vader .sword .light {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 120px;
  margin-left: -10px;
  background: rgba(248,80,50,0);
  background: -moz-linear-gradient(left, rgba(248,80,50,0) 10%, rgba(247,67,37,0) 20%, rgba(246,41,12,0.67) 40%, rgba(255,176,166,1) 50%, rgba(246,41,12,0.67) 60%, rgba(236,51,30,0) 80%, rgba(231,56,39,0) 90%);
  background: -webkit-gradient(left top, right top, color-stop(10%, rgba(248,80,50,0)), color-stop(20%, rgba(247,67,37,0)), color-stop(40%, rgba(246,41,12,0.67)), color-stop(50%, rgba(255,176,166,1)), color-stop(60%, rgba(246,41,12,0.67)), color-stop(80%, rgba(236,51,30,0)), color-stop(90%, rgba(231,56,39,0)));
  background: -webkit-linear-gradient(left, rgba(248,80,50,0) 10%, rgba(247,67,37,0) 20%, rgba(246,41,12,0.67) 40%, rgba(255,176,166,1) 50%, rgba(246,41,12,0.67) 60%, rgba(236,51,30,0) 80%, rgba(231,56,39,0) 90%);
  background: -o-linear-gradient(left, rgba(248,80,50,0) 10%, rgba(247,67,37,0) 20%, rgba(246,41,12,0.67) 40%, rgba(255,176,166,1) 50%, rgba(246,41,12,0.67) 60%, rgba(236,51,30,0) 80%, rgba(231,56,39,0) 90%);
  background: -ms-linear-gradient(left, rgba(248,80,50,0) 10%, rgba(247,67,37,0) 20%, rgba(246,41,12,0.67) 40%, rgba(255,176,166,1) 50%, rgba(246,41,12,0.67) 60%, rgba(236,51,30,0) 80%, rgba(231,56,39,0) 90%);
  background: linear-gradient(to right, rgba(248,80,50,0) 10%, rgba(247,67,37,0) 20%, rgba(246,41,12,0.67) 40%, rgba(255,176,166,1) 50%, rgba(246,41,12,0.67) 60%, rgba(236,51,30,0) 80%, rgba(231,56,39,0) 90%);
}

.vader .sword .light::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 3px;
  height: 120px;
  margin-left: -1px;
  background: rgba(248,80,50,1);
  z-index: -1
}

.vader .shadow {
  position: absolute;
  bottom: -17px;
  left: -25px;
  display: block;
  width: 150px;
  height: 14px;
  background: rgba(0,0,0,0.15);
  border-radius: 50%
}

.animation-right {
  -webkit-animation: animationHandRight 1.5s linear infinite;
  animation: animationHandRight 1.5s linear infinite
}

@-webkit-keyframes animationHandRight {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes animationHandRight {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.animation-left {
  -webkit-animation: animationHandLeft 3s ease-in-out infinite;
  animation: animationHandLeft 3s ease-in-out infinite
}

@-webkit-keyframes animationHandLeft {
  0%, 100% {
    -webkit-transform: translateX(0) rotate(-25deg);
    transform: translateX(0) rotate(-25deg)
  }

  50% {
    -webkit-transform: translateX(150px) rotate(25deg);
    transform: translateX(150px) rotate(25deg)
  }
}

@keyframes animationHandLeft {
  0%, 100% {
    -webkit-transform: translateX(0) rotate(-25deg);
    transform: translateX(0) rotate(-25deg)
  }

  50% {
    -webkit-transform: translateX(150px) rotate(25deg);
    transform: translateX(150px) rotate(25deg)
  }
}

.vader:hover .eyes .left {
  background: #d81f27
}

.vader:hover .eyes .right {
  background: #455caa
}